body {
    font-family: 'Encode Sans', sans-serif;
    background-color: #e6e5dff4;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

li {
    margin: 3px;
}

.to-watch-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(206, 198, 180);
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    /*background-color: rgb(231, 178, 218);*/
}

.media-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-box {
    min-height: 150px;
}

.name-box {
    min-width: 350px;
    min-height: 100px;
    background-color: #ffffff;
}

.year-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
    background-color: rgb(206, 198, 180);
}

.date-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 198, 180);
}

.year-marker {
    font-size: 27px;
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: rgb(236, 180, 112);
}

.month-highlight:hover {
    position: relative;
    background-color: rgb(205, 228, 228);
}

.month-tag {
    visibility: hidden;
    width: 100px;
    background-color: rgb(226, 245, 247);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.month-highlight:hover .month-tag {
    visibility: visible;
    right: 105%
}

.row-container {
    display: flex;
    text-align: center;
    
}

.entry {
    position: relative;
    top: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 40px;
    padding: 10px;
    background-color: #ffffff;
    width: min-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entry:hover{
    position: relative;
    top: -10px;
    transition: all 100ms ease-out;
}

.drama-title{
    text-align: left;
}

.title{
    background-color: #d5d5d5;
}

img {
    width: 180px;
    clip: auto;
}

.tier{
    background-color: #ee8700;
    padding: 15px;
    margin: 10px;
}

.row-label{
    color: #ffffff;
}

.rank{
    display: flex;
    flex-direction: row;
}

.tag{
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    

}


