body {
    font-family: 'Encode Sans', sans-serif;
    background-color: #e6e5dff4;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

li {
    margin: 3px;
}

.to-watch-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(206, 198, 180);
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    /*background-color: rgb(231, 178, 218);*/
}

.media-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgb(207, 228, 185);*/
}

.link-box {
    min-height: 150px;
}

.name-box {
    min-width: 350px;
    min-height: 100px;
    background-color: #ffffff;
}

.year-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
    background-color: rgb(206, 198, 180);
}

.date-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 198, 180);
}

.year-marker {
    font-size: 27px;
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: rgb(236, 180, 112);
}

.month-highlight:hover {
    position: relative;
    background-color: rgb(205, 228, 228);
}

.month-tag {
    visibility: hidden;
    width: 100px;
    background-color: rgb(226, 245, 247);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.month-highlight:hover .month-tag {
    visibility: visible;
    right: 105%
}